.border {
  border-width: 1px
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-teal-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(153 246 228 / var(--tw-bg-opacity))
}

.bg-teal-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 94 89 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.italic {
  font-style: italic
}

.hover\:border:hover {
  border-width: 1px
}

:where(.child-p\:bg-teal-200) > p:where(:not(.not-child-p)) {
  --tw-bg-opacity: 1;
  background-color: rgb(153 246 228 / var(--tw-bg-opacity))
}

:where(.hover\:child-p\:border) > p:where(:not(.not-child-p)):hover {
  border-width: 1px
}

:where(.heir-p\:bg-teal-200) p:where(:not(.not-heir-p)) {
  --tw-bg-opacity: 1;
  background-color: rgb(153 246 228 / var(--tw-bg-opacity))
}

:where(.hover\:heir-p\:border) p:where(:not(.not-heir-p)):hover {
  border-width: 1px
}

:where(.sibling-p\:bg-teal-200) ~ p:where(:not(.not-sibling-p)) {
  --tw-bg-opacity: 1;
  background-color: rgb(153 246 228 / var(--tw-bg-opacity))
}

:where(.hover\:sibling-p\:border) ~ p:where(:not(.not-sibling-p)):hover {
  border-width: 1px
}

:where(.child\:bg-teal-200) > :where(.child) {
  --tw-bg-opacity: 1;
  background-color: rgb(153 246 228 / var(--tw-bg-opacity))
}

:where(.hover\:child\:border) > :where(.child):hover {
  border-width: 1px
}

:where(.heir\:bg-teal-200) :where(.heir) {
  --tw-bg-opacity: 1;
  background-color: rgb(153 246 228 / var(--tw-bg-opacity))
}

:where(.sibling\:bg-teal-200) ~ :where(.sibling) {
  --tw-bg-opacity: 1;
  background-color: rgb(153 246 228 / var(--tw-bg-opacity))
}

:where(.child-hover\:border) > :where(.child:hover) {
  border-width: 1px
}

:where(.heir-hover\:border) :where(.heir:hover) {
  border-width: 1px
}

:where(.sibling-hover\:border) ~ :where(.sibling:hover) {
  border-width: 1px
}